@import url("components/card.css");
@import url("components/chantier.css");
@import url("components/dashboard.css");
@import url("components/form.css");
@import url("components/ren0vate_intro.css");
@import url("components/sections.css");
@import url("components/suivi.css");
@import url("components/test.css");


/* ======================= GÉNÉRAL ======================= */
:root {
  --primary: #03bd2e;          /* Vert professionnel */
  --primary-light: #e9f9ee;    /* Vert clair de fond */
  --text-dark: #1a1a1a;
  --border-color: #cde7d6;
}

body {
  font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #f4f6f9;
  color: #416992;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 2rem;
  background-image: url("../images/mur_blanc_3.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  image-rendering: auto;
}

body h1, body h2, body h3, body h4 {
  color: rgb(37, 41, 156);
  font-weight: 600;
}

h1 {
  color: var(--text-dark);
  font-weight: 600;
}

h4 {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 1.25rem;
}

::placeholder {
  color: #6c757d !important; /* gris Bootstrap */
  opacity: 1 !important;
}

/* ======================= .container pour la simulation des primes ======================= */
.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 1rem;
}


/* ======================= Bannière principale Ren0vate ======================= */
.ren0vate-banner {
  background-color: #f2fdeb;
  border-bottom: 1px solid #d9e8cf;
  max-width: 800px;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.ren0vate-title {
  font-size: 2rem;
  color: #198754; /* Bootstrap success green */
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.ren0vate-subtitle {
  font-size: 1.2rem;
  color: #4d684d;
  font-weight: 500;
  margin: 0;
}
